<?xml version="1.0" encoding="UTF-8"?>
 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 id="WebApp_ID" version="2.5">
  <display-name>Line Par Test</display-name>
 <welcome-file-list>
 <welcome-file>home.jsp</welcome-file></welcome-file-list>
<servlet>
 	<servlet-name>dispatcher</servlet-name>
 	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 	<init-param>
 		<param-name>contextConfigLocation</param-name>
 		<param-value>/WEB-INF/spring-servlet.xml</param-value>
 	</init-param>
 	<load-on-startup>1</load-on-startup>
 </servlet>
 	<listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>

<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
        /WEB-INF/spring-servlet.xml
    </param-value>
</context-param> 
 <servlet-mapping>
 	<servlet-name>dispatcher</servlet-name>
 	<url-pattern>/</url-pattern>
 </servlet-mapping> 
	</web-app>
  
  
  
  <!-- <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.test.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionController</display-name>
    <servlet-name>QuestionController</servlet-name>
    <servlet-class>com.test.controller.QuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.test.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>com.test.controller.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/SubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestController</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>com.test.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/TestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgetPass</display-name>
    <servlet-name>forgetPass</servlet-name>
    <servlet-class>forgetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetPass</servlet-name>
    <url-pattern>/forgetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signInController</display-name>
    <servlet-name>signInController</servlet-name>
    <servlet-class>com.test.controller.signInController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signInController</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentHelper</display-name>
    <servlet-name>StudentHelper</servlet-name>
    <servlet-class>com.test.controller.StudentHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentHelper</servlet-name>
    <url-pattern>/StudentHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectHelper</display-name>
    <servlet-name>SubjectHelper</servlet-name>
    <servlet-class>com.test.controller.SubjectHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectHelper</servlet-name>
    <url-pattern>/SubjectHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQuestionController</display-name>
    <servlet-name>AdminQuestionController</servlet-name>
    <servlet-class>com.test.controller.AdminQuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQuestionController</servlet-name>
    <url-pattern>/AdminQuestion/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStudentHelper</display-name>
    <servlet-name>AdminStudentHelper</servlet-name>
    <servlet-class>com.test.controller.AdminStudentHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStudentHelper</servlet-name>
    <url-pattern>/AdminStudentHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiveTestController</display-name>
    <servlet-name>GiveTestController</servlet-name>
    <servlet-class>com.test.controller.GiveTestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiveTestController</servlet-name>
    <url-pattern>/GiveTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestResult</display-name>
    <servlet-name>TestResult</servlet-name>
    <servlet-class>com.test.controller.TestResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestResult</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping> --> 
 